<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765887228987-benjgs6th9k3g4dq3qcq1o3hor5fckat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765887228987-benjgs6th9k3g4dq3qcq1o3hor5fckat</string>
	<key>API_KEY</key>
	<string>AIzaSyAYyySa5QTavRL8SMejmWZuPscSCI7e7tc</string>
	<key>GCM_SENDER_ID</key>
	<string>765887228987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uh.ExpressCheckout</string>
	<key>PROJECT_ID</key>
	<string>express-checkout-app</string>
	<key>STORAGE_BUCKET</key>
	<string>express-checkout-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765887228987:ios:89163f36e4a859f4f9001e</string>
</dict>
</plist>